/*  Groupe:B131 
    Nom: NGUYEN Doan
    Login: 52818
*/

header, footer {
    background-color: darkred;
    color: white;
    text-align: center;
    margin: 5px;
    border-radius: 5px;
}
#main {
    margin: 5px 5px 20px 5px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
}
#board {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-gap: 5px 5px;
}
.square {
    background-color: lightgray;
    padding: 15px;
}

.lake {
    background-color: blue;
    padding: 15px;
}

#gameOver {
    text-align: center;
    margin: 10px;
    font-size: 3em;
}